<h2>Привет, {{subscriber.name}}!!!</h2>
Новые публикации пользователей:<br />
<ul class='post-list'>
  {{#each trainings}}
    <li>
      {{this.extraProperty.name}}
      <a
        href='http://localhost:3000/api/trainings/{{this.id}}'
      >{{this.postType}}</a>
    </li>
  {{/each}}
</ul>